#gift{
	padding:10px;
	margin:100px;
	box-shadow: 0 2px 10px grey;
	background-color:pink;
	border-radius:10px;
}

#gift img{
	width:50%;
	border-radius:5px;
	border: 2px solid red;
	margin-left: 25%;
}
#gift h1{
	text-align:center;
	font-family:Arial;
	text-decoration:underline;
}
#price{
	text-align:center;
	font-weight:bold;
}

#desc{
	text-align:center;
	font-size:6mm;
}

#gift button{
	margin-left:45%;
	padding:10px;
	color:pink;
	border-radius:10px;
	background-color:black;
}